{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-yellow text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>EventSphere</h2>
    <p style="color: white;">Connect. Coordinate. Celebrate.</p>
  </div>
</header>
<div class="p-3 centered-heading text-center">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Discover exciting local events, plan trips efficiently, 
          and coordinate with your friends — all in one place. 
          With EventSphere's interactive map and smart integrations, 
          event planning has never been easier!</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}